<h1>New Distance</h1>

<%= form_with model: @distance do |form| %>
  <div>
    <%= form.label :source_address %><br>
    <%= form.text_field :to %>
  </div>

  <div>
    <%= form.label :destination %><br>
    <%= form.text_field :from %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>